.cointainer{
    box-sizing: border-box;
    width: 80%;
    max-width: 650px;
    padding: 0 2rem;
    border-radius: 1rem;
    background-color: #242424;
}

ul{
    margin: 0;
    padding: 0;
    font-weight: 500;
    height: 58vh;
    overflow-y: scroll;
}
ul:hover::-webkit-scrollbar-thumb{
        background: #5a5a5a; 
}
.edit,.delete{
    height: 20px;
    cursor: pointer;
}

.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px; 
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.list{
    width: 100%;
    list-style: none;
    gap: '15px';
}

@media only screen and (max-width: 550px) {
    .cointainer{
        width: 95%;
    }
    input{
        width: 45%;
    }
}
@media only screen and (max-width: 475px) {
    #root{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .cointainer{
        border-radius: 0;
        min-width: 100vw;
        min-height: 100vh;
    }
    ul{
        height: 65vh;
    }
}
@media only screen and (max-width: 390px) {
    .cointainer{
        min-width: 100vw;
    }
}